<% provide(:title, 'Sobre Nosotros') %>
<h1>Sobre Nosotros</h1>
<p>
<a href="http://www.socialwin.es">SocialWin</a> somos un equipo de consultores estratégicos 
especializados en el diseño y la implementación de estrategias social media. A lo largo de 
nuestra experiencia hemos desarrollado un método único que permite auditar, y potenciar el 
asset online de una empresa de la manera más eficaz y eficiente.
</p>
<p>
Conócenos a través de nuestra Web <a href="http://www.socialwin.es/">SocialWin - Consultoría Estratégica Social Media</a>
</p>

