<div class="center hero-unit">
	<h1>SocialWin Analytics</h1>
	<h2>
		Analiza tus redes sociales con nuestro método 
		<a href="http://www.socialwin.es/metodo-socialwin/metodo">SocialWin</a>.
	</h2>

	<% if signed_in? %>
		<h2><small>Bienvenido <%= current_user.name %><small></h2>
	<% else %>	
		<%= link_to "Regístrate!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


