<div class="center hero-unit">
	<h1>SocialWin Analytics</h1>
	<h2>
		Analiza tus redes sociales con nuestro método 
		<a href="http://www.socialwin.es/metodo-socialwin/presentacion">SocialWin</a>.
	</h2>

	<%= link_to "Regístrate!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


