<footer class="footer">
	<small>
		<a href="http://www.socialwin.es">SocialWin</a>
		by Fran J Martínez
  </small>
	<nav>
		<ul>
			<li><%= link_to "Sobre Nosotros", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
			<li><a href="http://www.socialwin.es/nosotros/blog">Blog</a></li>
		</ul>
	</nav>
</footer>
